.contactListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid grey;
    background-color: #fffafa;
    margin: auto;
  }
  
  .contactAlign {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 10px;
    width: 60%;
  }

  .btncon {
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .contcon{
    display: block;
  }
  
  .btnDelete {
    padding: 10px 15px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    margin-right: 60px;
  }
  
  .btnDelete:hover {
    background-color: lightslategrey;
    transform: scale(1.05);
  }

  /* .container {
    display: block;
  } */